<%= stylesheet_link_tag "masonary" %>
<%= render "home/jumbo" unless user_signed_in? %>
<%= paginate @pins, class: "page-link"  %>

<% content_for :title, "Pins" %>

    <% if @pins.exists? %>
        <div class="masonry">
          <% @pins.each do |pin| %>
            <div class="masonry-item masonry-content center"></br>
              <% if pin.image.attached? %>
                <%= image_tag pin.image.variant(resize_to_limit: [ 200, 200 ]) %>
                <% else %>
                <%= image_tag "default_image.png" %>
              <% end %>
                </br>
                <strong><%= pin.description %></br></strong>
                <em><%= pin.user.name %></br></em>
                <%= link_to "Show this pin", pin %>
            </div>
          <% end %>
        </div>
      <% end %>

</div>
