<%= render "home/jumbo" unless user_signed_in? %>
<%= paginate @pins, class: "page-link"  %>
  <div class="card">
    <div class="card-body">

      <% content_for :title, "Pins" %>

      <div id="pins">
        <% @pins.each do |pin| %>
          <p>
            <% if pin.image.attached? %>
              <%= image_tag pin.image.variant(resize_to_limit: [ 200, 200 ]) %>
              <% else %>
              <%= image_tag "default_image.png" %>
            <% end %>
            </br>
            <%= pin.description %>
            </br>
            <%= pin.user.name %>
            </br>
            <%= link_to "Show this pin", pin %>
          </p>
        <% end %>
      </div>
  </div>
</div>
