<div id="<%= dom_id address %>">
  <p>
    <strong>Street:</strong>
    <%= address.street_number %>
    <%= address.street_name %>
    , <%= address.zip_code %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

  <p>
    <strong>Subdivision:</strong>
    <%= address.subdivision_name%>
  </p>

  <p>
    <strong>Land Use:</strong>
    <%= address.land_use_desc%>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= address.owner_name_line1%>
    </br> <%= address.owner_name_line2%>
  </p>

</div>
