<div id="<%= dom_id address %>">
  <p>
    <strong>Street number:</strong>
    <%= address.street_number %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= address.street_name %>
  </p

  <p>
    <strong>Zip code:</strong>
    <%= address.zip_code %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

  <p>
    <strong>Subdivision:</strong>
    <%= address.subdivision_name%>
  </p>

  <p>
    <strong>Land Use:</strong>
    <%= address.land_use_desc%>
  </p>

  <p>
    <strong>Owner Name:</strong>
    <%= address.owner_name_line1%>
    </br> <%= address.owner_name_line2%>
  </p>

</div>
