<div id="<%= dom_id address %>">
  <p>
    <strong>Street number:</strong>
    <%= address.street_number %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= address.street_name %>
  </p>

  <p>
    <strong>Street type:</strong>
    <%= address.street_type %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= address.zip_code %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

</div>
