<% content_for :title, "New address" %>
<h1>New address</h1>

<h4> Import Addresses</h4>
<%= form_tag import_addresses_path, multipart: true do %>
  <%= file_field_tag :file, accept: "text/csv" %>
  <%= submit_tag "Upload Address File" %>
  <% end %>
</br>
<p> Or </p>
<h4> Enter an Address</h4>
<%= render "form", address: @address %>
</br>
<div>
  <%= link_to "Back to addresses", addresses_path %>
</div>
